$bg: #111111;
$bgHi: #222222;
$bgTrans: rgba(0, 0, 0, 0.33);
$bgLessTrans: rgba(0, 0, 0, 0.66);
$boxShadow: rgba(14, 30, 37, 0.33) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
$col: #eeeeee;
$colHi: #ffffff;

$border: 1px solid $col;

$cursorPointer: url(./resources/cursors/pointer.png) 12 12, pointer !important;
$cursorNormal: url(./resources/cursors/normal.png) 12 12, auto !important;

$fontSize: 10pt;
$padding: 10px;
$paddingSmall: 3px;

$iconSize: 24px;

* {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  cursor: $cursorNormal;
}
body {
  background-attachment: fixed;
  background-image: url(./resources/bg.png);
  cursor: $cursorNormal;
  color: $col;
  font-family: monospace;
  font-size: $fontSize;
}
p,
a,
li {
  color: $col;
  margin: 0;
  padding: $paddingSmall;
}
p,
span,
li {
  cursor: url(./resources/cursors/text.png) 12 12, auto !important;
}
hr {
  $margin: calc($padding * 2);
  border: $border;
  margin: $margin 0 $margin 0;
}
input,
button {
  background-color: $bgTrans;
  border: $border;
  border-radius: 0.5em;
  color: $col;
  cursor: $cursorPointer;
  text-transform: uppercase;
}
button:active,
button:focus {
  background-color: $bgLessTrans;
}
.centerForced {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.padding {
  padding: $padding;
}
.noPadding {
  padding: 0 !important;
}
.center {
  text-align: center;
}
.icon {
  height: $iconSize;
  width: $iconSize;
}
.link,
.linkBold {
  color: $col;
  text-decoration: none;
}
.linkBold {
  font-weight: bold !important;
}
.link:hover,
.linkBold:hover {
  color: $colHi;
  cursor: $cursorPointer;
  text-decoration: underline;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SIDEBAR //
.sidebar {
  background-color: $bgTrans;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  min-height: 100vh;
  max-width: 25%;
  min-width: 8%;
  transition: 0.5s ease;
  z-index: 2;
}
.sidebarToggler {
  $offset: 10px;
  cursor: $cursorPointer;
  filter: brightness(0.33);
  height: 32px;
  left: $offset;
  position: fixed;
  top: $offset;
  width: 32px;
  transition: 0.2s ease;
  z-index: 3;
}
.sidebarToggler:hover,
.sidebarToggler:active {
  filter: brightness(1);
}
.headshot {
  $margin: calc($padding * 2);
  $size: 10em;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 999px;
  box-shadow: $boxShadow;
  height: $size;
  margin: $margin 0 $margin 0;
  overflow: hidden;
  width: $size;
}
.name,
.header {
  font-weight: bold;
  text-transform: uppercase;
}
.name {
  $size: calc($fontSize * 3);
  font-size: $size;
}
.header {
  $size: calc($fontSize * 1.5);
  font-size: $size;
}
.subheader {
  font-size: 12pt;
  font-weight: 300;
}
.externalLinks {
  margin: 10px 33% 10px 33%;
}
.linkContainer {
  align-items: center;
  display: flex;
  gap: 10px;
}
ul {
  padding-left: calc($padding * 2);
}
li {
  list-style: none;
}

.list li {
  text-transform: lowercase;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ANIMATED INTRO //
.typedText {
  $size: calc($fontSize * 4);
  font-size: $size;
  font-weight: 200;
}
.centreText {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST //
.explainer {
  margin: 0 15vw 5vh 15vw;
}
.post {
  // background-color: $bgTrans;
  border-radius: 1em;
  // box-shadow: $boxShadow;
  margin: 0 15vw 15vh 15vw;
  padding: calc($padding * 3);
  transition: 1s ease-in-out;
}
.post:hover {
  background-color: $bgTrans;
}
.titleBar {
  align-items: center;
  display: flex;
  gap: calc($padding * 3);
}
.spacer {
  justify-content: space-between;
}
.skillIcon {
  $size: calc($iconSize * 1.5);
  margin-left: calc($padding * 2);
  height: $size;
  width: $size;
  transition: 0.25s ease-in-out;
}
.skillIcon:hover {
  transform: scale(1.5);
}
.bulk {
  align-items: center;
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}
.info {
  align-self: flex-start;
}
.postTitle {
  font-size: calc($fontSize * 4);
  font-weight: bolder;
  text-transform: uppercase;
}
.previewGrid {
  margin: $padding;
}
.previewImg {
  align-self: flex-start;
  aspect-ratio: 16 / 9;
  border: $border;
  border-radius: 0.5em;
  cursor: url(./resources/cursors/zoomIn.png) 12 12, auto !important;
  height: 100%;
  max-width: 33%;
  transition: 0.33s ease-in;
}
.previewImg:hover {
  filter: brightness(1.5) saturate(125%);
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DIALOG //
.dialogImg {
  border-radius: 1em;
  box-shadow: $boxShadow;
  cursor: $cursorNormal;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.iconRight {
  filter: brightness(1) !important;
}
.dialog {
  height: 80vh;
  width: 80vw;
  position: fixed;
}
.dialogForm,
.dialog::backdrop {
  background-color: $bgLessTrans;
  cursor: url(./resources/cursors/zoomOut.png) 12 12, auto !important;
  z-index: -1;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEXGRID //
.formLabel {
  align-items: center;
  display: flex;
  gap: 10px;
}
.hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}
